html{
    scroll-behavior: smooth;
    margin: 0;
}
*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: gainsboro;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: beige;
}
header .logo{
    max-width: 1400px;
    margin: auto;
    padding: 27px 35px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.50em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: blueviolet;
}
#produ p{
    background-color: cadetblue;
}

h1{
    font-size: 3em;
}

.color{
    color: red;
}
#tipos-chocolate{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}
#tipos-chocolate .tipo{
    padding: 100px 0px;
}

#tipos-chocolate p{
    display: none;
    color: white;
}


#tipos-chocolate h2{
    margin-top: 0;
}

#tipos-chocolate .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(chocolate.png);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    
    )
    ,url(chocolate1.png);

}


.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(chocolate2.png);


}

#productos{
    padding-top: 250px;
    height: auto;
    background-color: honeydew;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(productos.png);
    flex-direction: column;
    padding: auto;
}

#productos h1{
    padding-top: -1200px;
    text-align: center;
    color: black;
    
}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: crimson;
    background-color: black;

}
#productos button{
    background-color: red;
    color: black;
    border-color: black;
    border-style: solid;
    border-radius: 19px;
}

#productos button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

#chocolates .choco{
    text-align: center;
    padding: 80px 12px;
}

#historia {
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
 .de_chocolates {
    margin: 5px;
 }

.sapo {
    background-color: black;
    color: white;
    padding: 5px 12px;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}

.final_todo{
    background-color: grey;
}
#caracteristicas h2{
    font-size: 2.5em;

}
#caracteristicas ul{
    align-items: flex-end;
    background-color: grey;
}   

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
    font-size: 1.2em;
}
#caracteristicas a{
    color: yellow;
}
#caracteristicas {
    padding-bottom: 30px;
    padding-top: 30px;
}
footer .link{
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(30,30,30);

}

#solo{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(30,30,30);
  
}

#solo a{
    color: white;
    font-family: cursive;
    padding-left: 20px;
}

#ofrecemos{
    padding-top: 40px ;
    padding-bottom: 40px;
    text-align: center;
}

#ofrecemos h2{
    font-family: cursive;
}
.dodo a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lo_que{
    font-family: cursive;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
        
    header nav{
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 200px;
    }

    #tipos-chocolate .tercero{
        display: flex;
        justify-content: center;
    }
    
    
    #tipos-chocolate p{
        display: block;
        margin-bottom: 30px;
    }
    
    #tipos-chocolates h3{
        margin-top: 0;
    
    }
    
    #tpos-chocolate .carta{
        padding: 15px;
    }
    
    .tercero h3{
        color: white;
    }
    

    #chocolates .choco{
        display: flex;
        justify-content: space-evenly;
    }

    #chocolates .primer_texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #chocolates .primera_imagen{
        background-image: url(chocolate.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
}
